<div class="Footer_footer py-8">
  <div class="Footer_topBlock">
    <div class="container md:flex items-center justify-between h-full">
      <a href="/"><img src="../assets/img/logo.svg"
                class="cursor-pointer mb-5 md:mb-0"></a>
      <div class="md:flex items-center">
        <a href="documents.html" class="Footer_item mb-5 md:mb-0 md:mr-8">Правовая информация</a>
        <a href="login.html" class="btn btn-outline-primary">Войти</a>
      </div>
    </div>
    <div class="container py-8"><p class="text-text-4">Сайт использует файлы «cookie», с целью персонализации
      сервисов и повышения удобства пользования веб-сайтом. «Cookie» представляют собой небольшие файлы, содержащие
      информацию о предыдущих посещениях веб-сайта. Если вы не хотите использовать файлы «cookie», измените
      настройки браузера.</p></div>
  </div>
  <div class="container pt-8"><p class="text-text-4">2019-2022, ООО МКК «Старткапитал», Официальный сайт,
    Регистрационный номер записи в государственном реестре микрофинансовых организаций ЦБ РФ №2103336009765</p>
  </div>
</div>
