<div class="HeaderMobile_header md:hidden">
  <div class="container flex items-center h-full justify-between">
    <div>
      <a href="/"><img src="../assets/img/logo.svg" class=""></a>
    </div>
    <div class="HeaderMobile_cross cursor-pointer">
      <div class="HeaderMobile_line"></div>
      <div class="HeaderMobile_line"></div>
      <div class="HeaderMobile_line"></div>
      <div class="HeaderMobile_line"></div>
    </div>
    <div class="HeaderMobile_navBar hidden container">
      <a href="login.html" class="HeaderMobile_btn btn btn-outline-primary">Войти</a>
      <div class="HeaderMobile_item mt-7">Правовая информация</div>
    </div>
  </div>
</div>
<div class="HeaderDesktop_header hidden md:block">
  <div class="container flex items-center justify-between h-full">
    <a href="/"><img src="../assets/img/logo.svg" class="cursor-pointer"></a>
    <div class="flex items-center">
      <div class="HeaderDesktop_item"><a href="/documents.html">Правовая информация</a></div>
      <a href="/login.html" class="btn btn-outline-primary">Войти</a>
    </div>
  </div>
</div>
